$border-color: hsl(200, 10%, 95%);
$cell-background-color: hsl(200, 50%, 100%);
$cell-hover-background-color: hsl(200, 70%, 99%);
$cell-match-background-color: hsl(200, 70%, 97%);
$placeholder-color: hsl(200, 20%, 60%);
$row-hover-color: hsl(100, 50%, 98%);
